#search_company {
	float: left;
}
.info_about_company {
	float: left;
	margin-left: 15px;
}

#list_company {
	border: 1px solid gray;
	height: 400px;
}

.name_company {
	display: inline-block;
}
.comments_about_company textarea {
	width: 500px;
	height: 100px;
}