.company-name {
  font-size: 1.5em;
  margin-top: -5px;
  color: green;
}

.tags-title {
 font-size: 1.5em;
}

.tag {
  border: 1px solid;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 5px;
}

.tag-negative {
  border-color: red;
}

.tag-positive {
  border-color: green;
}

.tag-content {
  display: inline-block;
  padding: 5px;
}

.tag-plus {
  display: inline-block;
  font-size: 20px;
  width: 20px;
  background-color: lightgray;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.btn-add-company {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-company li {
  cursor: pointer;
}

.list-company li:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da
}